<div class="main-footer-container">
  <mat-toolbar class="toolbarNav">
    <button class="toolbarButton" routerLink="/home" routerLinkActive="active"><mat-icon class="material-icons" >home</mat-icon></button>
    <button class="toolbarButton" routerLink="/predefine" routerLinkActive="active"><mat-icon class="material-icons" >list</mat-icon></button>
    <span class="toolbarButton"><button class="addButton" routerLink="/create" routerLinkActive="active"><mat-icon class="material-icons" >add</mat-icon></button></span>
    <button class="toolbarButton" routerLink="/mine" routerLinkActive="active"><mat-icon class="material-icons" >person</mat-icon></button>
    <button class="toolbarButton" routerLink="/settings" routerLinkActive="active"><mat-icon class="material-icons" >settings</mat-icon></button>
  </mat-toolbar>
</div>

