.login-wrapper {
  height: 100%;
}

.box {
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 40px 30px;
	width: 100%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
  max-width: 330px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);
}

.box.back {
	transform: scale(.95);
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	top: -20px;
	opacity: .8;
	z-index: -1;
}


.login-wrapper .login-form {
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.login-wrapper .field-full-width{
	width: 100%;
}

.btn-block {
  border: 1px solid orange;
  color: orange;
  transition: all 0.3s ease-out;
  float: right;
  width: 100%;
}

.btn-block:hover {
  background-color: rgb(39, 39, 39);
  color:white;
  transition: all 0.3s ease-out;
  transform: scale(1.05)
}

.login-wrapper mat-card-header {
	text-align: center;
	width: 100%;
  display: block;
  margin-bottom: 30px;
}

.login-wrapper mat-card-header mat-card-title {
	font-size: 30px;
  color:white;
  font-weight: 100;
}

.login-wrapper .mat-card {
	background-color: rgb(39, 39, 39);
}

.login-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}

input {
  border: 1px solid orange;
  margin-bottom:10px;
  border-radius: 5px;
  padding: 10px 0px;
  color:black;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  background-color: rgb(70, 69, 69);
}

input:focus{
  border: 1px solid orange;
  background-color: #CECECE;
  transition: all 0.3s ease-out;
}

