mat-toolbar{
  background-color:rgb(25, 25, 25);
}

.title{
  color:white;
  transition: all 0.3s ease-out;
}

.title:hover {
  color:orange;
  font-size:105%;
  transition: all 0.3s ease-out;
}

mat-icon{
  color:white;
  transition: all 0.3s ease-out;
}

mat-icon:hover {
  color:orange;
  transform: scale(1.2) translateY(0);
  transition: all 0.3s ease-out;
}

.companyName{
    font-size: 150%;
}

div {
    overflow: inherit;
}

.mat-sidenav-container{
  background-color: White;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

button{
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }
  .drawer-bottom{
      flex:bottom;
  }
