html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

/*.main-container {
  background-image: url("../assets/img/background.png");
  background-size: cover;
}*/
