
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="button-div">
    <app-button-card routerLink="/create" style="align-self: center;" title="Créer un parcours" iconName="add"></app-button-card>
    <app-button-card routerLink="/predefine" style="align-self: center;" title="Parcours prédéfinis" iconName="assignment"></app-button-card>
    <app-button-card routerLink="/mine" style="align-self: center;" title="Mes parcours" iconName="star_border"></app-button-card>
</div>
