/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.red {
  background-color: rgb(185, 36, 36) !important;
  color: rgb(250, 236, 236);
}

.green {
  background-color: rgb(31, 187, 78) !important;
  color: rgb(250, 236, 236);
}
