.button {
    height:20%;
    width: 40%;
    padding:20px;
}

.buttonContent{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: center;
}

.buttonCard{
    height: 20vh;
    width: 25vw;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: center;

}

.icon {
    border: solid white 1px;
    border-radius: 100%;
    background-color: rgb(220, 220, 220);
    padding:5px;
    width:60px;
    height:60px;
    font-size:60px;
}

.title{
    font-size:25px;
    color:white
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    .buttonCard {
        width: 80vw;
    }
}
